<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link rel="stylesheet" th:href="@{/css/cs/faqList.css}">
    <script src="/js/cateFaq.js"></script> <!-- faq.js 파일을 추가 -->
</head>
<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{aside/faqAside}" th:with="boardCate=${boardCate}"></th:block>


    <div id="service">
        <div class="title">
            <h2>회원</h2>   <!-- 여기에 카테고리명 -->
            <p>회원관련 자주 묻는 질문입니다</p> <!-- 여기에 카테고리명 -->
        </div>
        <div class="first container">
            <h2>가입</h2>
            <ul class="first_list">
                <!-- FAQ 목록을 반복하여 출력 -->
                <li class="first_li" th:each="faq : ${faqList}">
                    <a th:href="@{/cs/faq/view/{id}(id=${faq.faqNo})}">
                        <span>Q .</span>
                        <span th:text="${faq.faqtitle}">FAQ 제목</span>
                    </a>
                </li>
                <li>
                    <div class="first_show">
                        <a href="#" class="showMore">더보기</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="second container">
            <h2>탈퇴</h2>
            <ul class="second_list">
                <!-- FAQ 목록을 반복하여 출력 -->
                <li class="second_li" th:each="faq : ${faqList}">
                    <a th:href="@{/cs/faq/view/{id}(id=${faq.faqNo})}">
                        <span>Q .</span>
                        <span th:text="${faq.faqtitle}">FAQ 제목</span>
                    </a>
                </li>
                <li>
                    <div class="second_show">
                        <a href="#" class="showMore">더보기</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="third container" style="display: none;">
            <h2></h2> <!-- 여기에 3번째 카테고리 제목이 들어갑니다 -->
            <ul class="third_list">
                <!-- FAQ 목록을 반복하여 출력 -->
                <li class="third_li" th:each="faq : ${faqList}">
                    <a th:href="@{/cs/faq/view/{id}(id=${faq.faqNo})}">
                        <span>Q .</span>
                        <span th:text="${faq.faqtitle}">FAQ 제목</span>
                    </a>
                </li>
                <li>
                    <div class="third_show">
                        <a href="#" class="showMore">더보기</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>