
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link rel="stylesheet"  th:href="@{/css/cs/noticeView.css}">

</head>
<body>
<th:block layout:fragment="content">
<!--    <th:block th:replace="~{aside/noticeAside}"></th:block>-->

<div id="service">
        <div class="title">
            <h2>전체</h2>
            <p>공지사항 전체 내용 입니다.</p>
        </div>
    <div>
        <table class="view-div">
            <tr>
                <th class="view-title">공지사항<br>
                    <span class="view-data" th:text="${#dates.format(notices[0].date, 'yyyy.MM.dd')}"></span>
                </th>
            </tr>
            <tr th:each="notice : ${notices}">
                <td>
                    <p style="padding: 20px; font-size: 14px; line-height: 30px;" th:text="${notice.noticetitle}"></p>
                    <p style="padding: 20px; font-size: 14px; line-height: 30px;" th:text="${notice.noticecontent}"></p>
                    <p style="padding: 20px; font-size: 14px; line-height: 30px;" th:text="${notice.noticetype}"></p>
                    <p style="padding: 20px; font-size: 14px; line-height: 30px;" th:text="${#dates.format(notice.date, 'yyyy.MM.dd')}"></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="pagination">
        <a class="list-btn" href="../article/articleList">목록</a>
    </div>
</div>

</th:block>
