<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link rel="stylesheet"  th:href="@{/css/cs/faqList.css}">

</head>
<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{aside/qnaAside}"></th:block>

<div class="article-box">
                <div class="article-coment">
                    <h3>회원</h3>
                    <p>회원 관련 문의 내용입니다.</p>
                </div>
                <div class="article-div">
                    <div class="article-list">
                        <div class="qna-list">
                            <div class="qna-title"><a href="#">ㄷ충아이디</a></div>
                            <div class="qna-status"> 검토중</div>
                            <div class="qna-id">ㄷ충아이디</div>
                            <div class="qna-data">24.10.15</div>
                        </div>
                    </div>
                </div>
                <div class="page">
                    <div class="qna-pagination">
                        <a href="#">이전</a>
                        <a href="">1</a>
                        <a href="#">다음</a>
                    </div>
                    <div class="qna-write-btn">
                        <a href="/admin/qna/qnaWrite.html" type="button" class="btn-Write">작성하기</a>
                    </div>
                </div>
            </div>
</th:block>>