<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/csLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn</title>
    <link rel="stylesheet" th:href="@{/css/cs/qnaview.css}">

</head>
<body>
<th:block layout:fragment="content">
    <th:block th:replace="~{aside/qnaAside}"></th:block>
    <div id="service">
        <div class="title">
            <h2>회원</h2>
            <p>회원 관련 자주 묻는 질문입니다.</p>
        </div>

        <div class="qna-section">

            <table class="qna-table">
                <colgroup>
                    <col style="width: 150px">
                    <col style="width: 750px">
                </colgroup>
                <tr>
                    <th colspan="2" class="signup-title">
                        <span th:text="${qna.qna_title}" style="font-weight: bold; color: #333; font-size: 16px;"></span>
                        <div class="qinfo-container">
                            <span class="qinfo-label" th:text="${qna.qna_writer}"></span>
                            <span class="qinfo-label" th:text="${#temporals.format(qna.rdate, 'yyyy-MM-dd')}"></span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="qcontent-label">[내용]</td>
                    <td th:text="${qna.qna_content}">질문 내용</td>
                </tr>
                <tr>
                    <th colspan="2">답변</th>
                </tr>
                <tr>
                    <td class="acontent-label">[답변]</td>
                    <td th:text="${qna.qna_status == 'completed' ? qna.qna_answer : '아직 답변이 완료되지 않았습니다.'}">답변 내용</td>
                </tr>
            </table>

            <div class="button-section">
                <button class="list-btn" th:onclick="|location.href='@{/cs/qna/list}'|">목록</button>
            </div>
        </div>
    </div>
</th:block>
</body>