<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

        <link th:if="${content =='join'}" rel="stylesheet" th:href="@{/css/member/join2.css}">
        <link th:if="${content=='login'}" rel="stylesheet" th:href="@{/css/member/login.css}">
        <link th:if="${content=='couponDetail'}"  rel="stylesheet" th:href="@{/css/member/couponDetail.css}">
            <link th:if="${content=='sellerRegister'}" rel="stylesheet" th:href="@{/css/member/customerregister.css}">
        <link th:if="${content=='mypageMain'}" rel="stylesheet" th:href="@{/css/member/mypageMain.css}">
            <link th:if="${content=='mysettings'}" rel="stylesheet" th:href="@{/css/member/mysettings.css}">
            <link th:if="${content=='orderdetails'}" rel="stylesheet" th:href="@{/css/member/orderdetails.css}">
            <link th:if="${content=='pointdetails'}" rel="stylesheet" th:href="@{/css/member/pointdetails.css}">
            <link th:if="${content=='qnadetails'}" rel="stylesheet" th:href="@{/css/member/qnadetails.css}">
            <link th:if="${content=='reviewdetails'}" rel="stylesheet" th:href="@{/css/member/reviewdetails.css}">
            <link th:if="${content=='term'}" rel="stylesheet" th:href="@{/css/member/term.css}">
            <link th:if="${content=='userRegister'}" rel="stylesheet" th:href="@{/css/member/userregister.css}">


</head>
<body>
<div class="wrapper">
    <div id="layout">
        <div id="skipNav">
            <a href="#content">본문바로가기</a>
        </div>
        <!--    header -->
        <th:block th:replace="~{include/header.html}"></th:block>

        <th:block th:switch="${content}">
            <th:block th:case="'join'">
                <th:block th:replace="~{content/member/join}"></th:block>

            </th:block>
            <th:block th:case="'login'">
                <th:block th:replace="~{content/member/login}"></th:block>

            </th:block>
            <th:block th:case="'coupondetails'">
                <th:block th:replace="~{content/member/coupondetails}"></th:block>

            </th:block>
            <th:block th:case="'sellerRegister'">
                <th:block th:replace="~{content/member/customerregister}"></th:block>

            </th:block>
            <th:block th:case="'mypageMain'">
                <th:block th:replace="~{content/member/mypageMain}"></th:block>

            </th:block>
            <th:block th:case="'mysettings'">
                <th:block th:replace="~{content/member/mysettings}"></th:block>

            </th:block>
            <th:block th:case="'orderdetails'">
                <th:block th:replace="~{content/member/orderdetails}"></th:block>

            </th:block>
            <th:block th:case="'pointdetails'">
                <th:block th:replace="~{content/member/pointdetails}"></th:block>

            </th:block>
            <th:block th:case="'qnadetails'">
                <th:block th:replace="~{content/member/qnadetails}"></th:block>

            </th:block>
            <th:block th:case="'reviewdetails'">
                <th:block th:replace="~{content/member/reviewdetails}"></th:block>

            </th:block>
            <th:block th:case="'term'">
                <th:block th:replace="~{content/member/term}"></th:block>

            </th:block>
            <th:block th:case="'userRegister'">
                <th:block th:replace="~{content/member/userregister}"></th:block>

            </th:block>

        </th:block>






        <th:block th:replace="~{include/footer.html}"></th:block>

<!--        <script th:src="@{/js/market.js}"></script>-->
<!--        <script th:src="@{js/marketOrder.js}"></script>-->
        <!--        <script th:src="@{js/mysetting.js}"></script>-->
        <!--        <script th:src="@{js/orderdetails.js}"></script>-->
        <script th:src="@{js/pointdetails.js}"></script>


    </div><!--layout end-->
</div> <!--wrapper end-->
</body>
</html>