<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sellerLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Banner Page</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminshoplist.css}">
    <link rel="stylesheet" th:href="@{/css/admin/shoplistmodal.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/validation.js}"></script>
    <script th:src="@{/js/postcode.js}"></script>

</head>
<body>
<th:block layout:fragment="content">

    <div id="admin_service">
        <section>
            <th:block th:replace="~{content/admin/admin_gate}"></th:block>

            <section id="admin_navi">
                <p>상점목록</p>
                <p><a href="#">HOME</a> > 상점관리 > 상점목록</p>
            </section>

            <article id="admin_banner_main">

                <div>
                    <table class="admin_banner_table">
                        <colgroup>
                            <col style="width: 6%">
                            <col style="width: 6%">
                            <col style="width: 11%">
                            <col style="width: 9%">
                            <col style="width: 16%">
                            <col style="width: 16%">
                            <col style="width: 16%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                        </colgroup>
                        <div>
                            <select id="shopsearch">
                                <option value="">상호명</option>
                                <option value="">대표자</option>
                                <option value="">사업자등록번호</option>
                                <option value="">연락처</option>
                            </select>
                            <input id="search" type="text" placeholder="검색어 입력">
                            <button id="serachbtn" type="button">검색</button>
                        </div>
                        <div class="status">
                            <span class="status-icon-running">●</span> <span class="status-text-running">운영
                                                중</span>
                            <span class="status-icon-paused">●</span> <span class="status-text-paused">운영
                                                중지</span>
                            <span class="status-icon-standby">●</span> <span class="status-text-standby">운영
                                                준비</span>
                        </div>

                        <tr th:each="seller, iterStat : ${sellerList}">
                            <td><input type="checkbox" class="sellerCheckbox" th:value="${seller.id}"></td>
                            <td th:text="${seller.id}"></td>
                            <td th:text="${seller.company}"></td>
                            <td th:text="${seller.ceo}"></td>
                            <td th:text="${seller.bno}"></td>
                            <td th:text="${seller.mo}"></td>
                            <td th:text="${seller.hp}"></td>
                            <td class="status-icon-standby">●</td>
                            <td><a href="">[준비]</a></td>
                       </tr>

                    </table>
                </div>
            </article>
            <div class="list_button">
                <button  id="deleteSelectedBtn" >선택삭제</button>
                <button class="openModalBtn">상점등록</button>
            </div>
            <th:block th:replace="~{content/admin/shop/shoplistmodal}"></th:block>

            <script  th:src="@{/js/shoplistmodal.js}"></script>
            <script>
                // DOMContentLoaded를 사용하여 DOM이 완전히 로드된 후에 함수 설정
                document.addEventListener("DOMContentLoaded", function () {
                    document.getElementById('btnPostCode').onclick = function () {
                        postcode(); // postcode 함수 호출
                    };
                });
            </script>
</th:block>
