<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin QnA Page</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminnoticelist.css}">

</head>
<body>
<th:block layout:fragment="content">
    <div id="admin_service">
        <section>
            <th:block th:replace="~{content/admin/admin_gate}"></th:block>

            <section id="admin_navi">
                <p>고객센터</p>
                <p>
                    <a href="#">HOME</a>
                    <span>></span>
                    <a href="#">고객센터</a>
                    <span>></span>
                    <a href="#">공지사항</a>
                </p>
            </section>

            <article id="admin_notice_list">
                <div>
                    <table class="admin_notice_list_table">
                        <colgroup>
                            <col style="width: 7.5%">
                            <col style="width: 7.5%">
                            <col style="width: 10%">
                            <col style="width: 40%">
                            <col style="width: 10%">
                            <col style="width: 15%">
                            <col style="width: 10%">
                        </colgroup>
                        <div>
                            <select id="noticesearch" class="noticeselect">
                                <option value="" disabled selected>유형 선택</option>
                                <option value="고객서비스">고객서비스</option>
                                <option value="이벤트당첨">이벤트당첨</option>
                                <option value="안전거래">안전거래</option>
                                <option value="위해상품">위해상품</option>
                            </select>
                        </div>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>번호</th>
                            <th>유형</th>
                            <th>제목</th>
                            <th>조회</th>
                            <th>날짜</th>
                            <th>관리</th>
                        </tr>
                        <tr th:each="notices : ${notice}">
                            <td><input type="checkbox" name="noticeNo" th:value="${notices.noticeNo}"></td>
                            <td th:text="${notices.noticeNo}"></td>
                            <td th:text="${notices.noticetype}">고객서비스</td>
                            <td>
                                <a th:href="@{/admin/notice/view(no=${notices.noticeNo})}" th:text="${notices.noticetitle}"></a>
                            </td>
                            <td th:text="${notices.noticehit}"></td>
                            <td>[[${#strings.substring(notices.date,0,10)}]]</td>
                            <td>
                                <a th:href="@{/admin/notice/delete(no=${notices.noticeNo})}" class="admin_notice_delete_a">[삭제]</a><br>
                                <a th:href="@{/admin/notice/modify(no=${notices.noticeNo})}">[수정]</a>
                            </td>
                        </tr>
                    </table>
            </article>
            <div class="notice_button">
                <a href="" class="notice_delete_a">선택삭제</a>
                <a th:href="@{/admin/notice/write}" class="notice_register_a">작성하기</a>
            </div>
        </section>
</th:block>
