
                <div id="service">
                    <div class="title">
                        <h2>회원</h2>
                        <p>회원 관련 문의 내용입니다.</p>
                    </div>
                    <section class="query">
                        <h3>[가입] 가입 문의 내용</h3>
                        <div class="qinfo">
                            <p>wjdwlgus****</p>
                            <p>2024-11-21</p>
                        </div>
                    <div class="qcontent">
                        <p>회원가입 하고 싶어요. 어떻게 해야 하나요?</p>
                    </div>
                    </section>
                    
                    <section class="reply">
                        <h3>▶[답변] 가입 문의 내용</h3>
                            <div class="acontent">
                                <p>안녕하세요. 회원님 회원가입 하시면 됩니다.</p>
                            </div>
                    </section>
                    <button class="queryList">목록</button>
                </div>
